<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New question</title>
</head>
<body>
    <h1>새 글 작성</h1>
    <form th:action="@{/templates/question/write}" method="post">
      <div>
        <label for="subject">제목</label><br>
        <input type="text" id="subject" name="subject" placeholder="제목을 입력해주세요" required>
      </div>
      <div>
        <label for="content">내용</label><br>
        <input type="text" id="content" name="content" placeholder="내용을 입력해주세요" required>
      </div>
      <div>
        <button type="submit">등록하기</button>
      </div>
    </form>
</body>
</html>