<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main question</title>
</head>
<body>
    <h1>Test question</h1>
    <ul>
        <li th:each="q : ${questions}">
            <strong style="cursor:pointer"
                    th:text="${q.subject}"
                    th:onclick="|location.href='@{/question/{id}(id=${q.id})}'|">
            </strong>
        </li>
    </ul>
    <strong style="cursor:pointer"
            th:onclick="|location.href='@{/question/write}'|">새 글 작성 하기</strong>
</body>
</html>