<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question Detail</title>
</head>
<body>
    <h1 th:text="${question.subject}"></h1>
    <span th:text="${question.content}"></span>
    <br>
    <form id="deleteForm" th:action="@{/templates/question/delete/{id}(id=${question.id})}" method="post">
        <button type="submit">질문 삭제</button>
    </form>
    <form id="updateForm" th:action="@{/templates/question/update/{id}(id=${question.id})}">
        <button type="submit">질문 수정</button>
    </form>
    <span style="cursor:pointer"
          th:onclick="|location.href='@{/question}'|">메인 페이지로 이동</span>
</body>
</html>