<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button th:onclick="|location.href='@{/signup}'|">회원가입 하기</button><h1>로그인 하기</h1>
<form th:action="@{/signup}" method="post">
    <div>
        <label for="username">제목</label><br>
        <input type="text" id="username" name="username" placeholder="이름을 입력해주세요" required>
    </div>
    <div>
        <label for="password">내용</label><br>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
    </div>
    <div>
        <label for="nickname">내용</label><br>
        <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요" required>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>
<br>
</body>
</html>