<div th:fragment="answerList(question)">
    <h3>답변 목록</h3>
    <div th:each="answer : ${question.answerList}" th:object="${answer}">
        <p>내용 : [[${answer.content}]]</p>
        <p>작성일 : [[${#temporals.format(answer.createdDate, 'yy.MM.dd HH:mm:ss')}]]</p>
        <p>작성자 : [[${answer.author.nickname}]]</p>
        <form th:action="@{/answers/{aid}/delete(aid=${answer.id})}" method="post" th:object="${form}">
            <input type="hidden" name="questionId" th:value="${question.id}">
            <button type="submit">삭제</button>
        </form>
    </div>
</div>