<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2>질문등록</h2>
    <form method="post" th:action="@{/question/create}" th:object="${form}">
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" style="color:red;"/>
        </div>
        <div role="alert" th:if="${question != null}">
            <div>
                <span style="color:blue;">질문이 등록되었습니다:</span>
                <span>[[${question.id}]]번</span>
                /
                <span>[[${question.subject}]]</span>
                /
                <span>[[${question.content}]]</span>
                /
                <span>[[${question.createdDate}]]</span>
            </div>
        </div>
        <div>
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" placeholder="제목" autofocus>
        </div>
        <div>
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" placeholder="내용"></textarea>
        </div>
        <input type="submit" value="등록하기">
    </form>
</div>
</html>